@charset "UTF-8";
.navbar{
    align-items: baseline;
    background-image: linear-gradient(to right,rgb(160, 160, 167),rgb(209, 209, 244));
    height: 70px;
    button{
        margin:10px;
        border: 1px solid black;
        border-radius: 10px;
        justify-content: end;
    }
}
.account_details{
	height : 200px;
	width : 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:rgb(234, 234, 241) ;
    box-shadow: 3px 3px 9px 3px rgba(98, 80, 138, 0.67);

	button{
	width : 300px;
	height : 100px;
	border : 1px solid black;
	border-radius : 10px
	}
	ul{
    list-style-type: none;
}
	
}
 #list{
 height : 200px;
	width : 100%;
     align-items: center;
    display: flex;
    background-color:rgb(234, 234, 241) ;
    box-shadow: 3px 3px 9px 3px rgba(98, 80, 138, 0.67);
    	ul{
    list-style-type: none;
    margin : 10px;
}
 }
 .bankList{
 	height : auto;
	width : 100%;
	align-items : center;
    display: flex;
    margin-top : 20px;
   
    
       	ul{
    list-style-type: none;
    
}
  button{
        margin:10px;
        border: 1px solid black;
        border-radius: 10px;
        justify-content: end;
    }
 }
 .acct{
 height:auto;
 width:auto;
  background-color:rgb(234, 234, 241) ;
  border-radius : 10px;
  box-shadow: 3px 3px 3px 3px rgba(98, 80, 138, 0.67);
  margin : 10px;
  padding : 10px;
 }
 .addaccount{
 height : 100px;
 width : 200px;
 margin : 50px;
 border-radius : 10px;
 }