@charset "UTF-8";
.welcomepage{
    background-image: linear-gradient(to right,rgb(50, 50, 78),rgb(185, 185, 250));
    height: 600px;
    width: 100%;
}
 #navbar{
  
    align-items: baseline;
    background-image: linear-gradient(to right,rgb(160, 160, 167),rgb(209, 209, 244));
    height: 70px;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
img{
    display: flex;
    align-items: center;
    height: 250px;
    width: 250px;
    margin: auto;
     
}
 .loginbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;

 button{
    background-color: rgb(209, 209, 244);
    width: 90px;
 }
 }
 .register{
    display: flex;
    justify-content: center;
    margin: 20px;
    a{
    text-decoration: none;

    }
 }

 